description = "Intro Partial"

[builderList]
modelClass = "Tcom\Tweets\Models\Tweets"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "title"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
recordsPerPage = 12
pageNumber = "{{ :page }}"
==
{##}
{# Section Intro Start #}
<section class="section intro">
	<div class="container">
		<div class="row ">
			<div class="col-lg-8">
				<div class="section-title">
					<span class="h6 text-color ">The Cradle Of Mankind</span>
					<h2 class="mt-3 content-title">Click for Tweet </h2>
				</div>
			</div>
		</div>
		<div class="row justify-content-center">





								{% set records = builderList.records %}
			{% set displayColumn = builderList.displayColumn %}
			{% set noRecordsMessage = builderList.noRecordsMessage %}
			{% set detailsPage = builderList.detailsPage %}
			{% set detailsKeyColumn = builderList.detailsKeyColumn %}
			{% set detailsUrlParameter = builderList.detailsUrlParameter %}


			    {% for record in records %}
			        <!-- <li> -->
			            {# Use spaceless tag to remove spaces inside the A tag. #}
			            {% spaceless %}
			                {% if detailsPage %}
			                    <a href="{{ detailsPage|page({ (detailsUrlParameter): attribute(record, detailsKeyColumn) }) }}">
			                {% endif %}

											<div class="col-lg-4 col-md-6">
												<div class="intro-item mb-5 mb-lg-0">
													<!-- <i class="ti-medall color-one"></i> -->
													<h4 class="mt-4 mb-3">{{ record.title }}</h4>
													<p>{{record.content}}</p>
												</div>
												<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://tcom.com" data-text = "{{record.content}}">Tweet</a>
												<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

											</div>






			                {% if detailsPage %}
			                    </a>
			                {% endif %}
			            {% endspaceless %}
			        <!-- </li> -->
			    {% else %}
			        <li class="no-data">{{ noRecordsMessage }}</li>
			    {% endfor %}


			{% if records.lastPage > 1 %}
			    <ul class="pagination">
			        {% if records.currentPage > 1 %}
			            <li><a href="{{ this.page.baseFileName|page({ (pageParam): (records.currentPage-1) }) }}">&larr; Prev</a></li>
			        {% endif %}

			        {% for page in 1..records.lastPage %}
			            <li class="{{ records.currentPage == page ? 'active' : null }}">
			                <a href="{{ this.page.baseFileName|page({ (pageParam): page }) }}">{{ page }}</a>
			            </li>
			        {% endfor %}

			        {% if records.lastPage > records.currentPage %}
			            <li><a href="{{ this.page.baseFileName|page({ (pageParam): (records.currentPage+1) }) }}">Next &rarr;</a></li>
			        {% endif %}
			    </ul>
			{% endif %}









			<!-- <div class="col-lg-4 col-md-6 col-12">
				<div class="intro-item mb-5 mb-lg-0">
					<i class="ti-desktop color-one"></i>
					<h4 class="mt-4 mb-3">Modern & Responsive design</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, ducimus.</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="intro-item mb-5 mb-lg-0">
					<i class="ti-medall color-one"></i>
					<h4 class="mt-4 mb-3">Awarded licensed company</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, ducimus.</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="intro-item">
					<i class="ti-layers-alt color-one"></i>
					<h4 class="mt-4 mb-3">Build your website Professionally</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, ducimus.</p>
				</div>
			</div> -->
		</div>
	</div>
</section>
{# Section Intro End #}
